<div
  class="flex flex-col items-center bg-zinc-800 border border-gray-400 w-full p-10 h-full text-white rounded-md overflow-hidden"
>
  <h2 class="text-3xl font-bold">{{ category ? 'Modifier' : 'Ajouter' }}</h2>
  <form class="flex flex-col gap-6 text-left mt-6">
    <div class="mb-4">
      <label class="block text-sm font-medium text-white">Nom de la catégorie</label>
      <!-- Add an input field and bind it to the categoryName property using ngModel -->
      <input
        matInput
        placeholder="{{ category ? category.name : 'Ajouter une catégorie' }}"
        type="text"
        appGlass
        [(ngModel)]="categoryName"
        name="categoryName"
        class="w-full outline-none mt-1 p-2 text-sm text-white bg-main border border-border rounded"
      />
    </div>
    <button
      (click)="submitCategory()"
      class="btn-msl w-full flex-rows gap-4 py-1 text-lg before:rounded-xl after:hidden text-white"
    >
      {{ category ? 'Modifier' : 'Ajouter' }}
    </button>
  </form>
</div>
