<div class="flex text-white flex-col gap-6">
    <h2 class="text-xl font-bold">Create Serie</h2>
    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
            <label class="block text-gray-200" for="serieTitle">Serie Title</label>
            <input
            class="mt-1 p-4 w-full rounded-md border border-gray-500 outline-none focus:ring-blue-500 focus:border-blue-500"
            type="text"
            appGlass
            id="serieTitle"
            placeholder="Add serie title"
            />
        </div>

        <div>
            <label class="text-gray-200 flex">Status</label>
            <div class="mt-1 flex">
            <div class="flex items-center w-[10rem] pl-4 border border-gray-500 rounded-md" appGlass>
                <input
                type="radio"
                [(ngModel)]="selectedStatus"
                [value]="'Returning'"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600"
                />
                <label class="w-full py-4 ml-2 text-sm font-medium text-gray-300 dark:text-gray-300">Returning</label>
            </div>
            <div class="ml-4 flex items-center w-[10rem] pl-4 border border-gray-500 rounded-md" appGlass>
                <input
                type="radio"
                [(ngModel)]="selectedStatus"
                [value]="'Ended'"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600"
                />
                <label class="w-full py-4 ml-2 text-sm font-medium text-gray-300 dark:text-gray-300">Ended</label>
            </div>
            </div>
        </div>
    </div>
    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
            <label class="block text-gray-200" for="producer">Producer</label>
            <input
            class="mt-1 p-4 w-full rounded-md border border-gray-500 outline-none focus:ring-blue-500 focus:border-blue-500"
            type="text"
            appGlass
            id="producer"
            placeholder="Add producer"
            />
        </div>

        <div>
            <label class="block text-gray-200" for="releaseDate">Release Date</label>
            <input
            class="mt-1 p-4 w-full rounded-md border border-gray-500 outline-none focus:ring-blue-500 focus:border-blue-500"
            type="date"
            appGlass
            id="releaseDate"
            placeholder="Add release date"
            />
        </div>
    </div>
    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="flex flex-col gap-2">
            <p class="text-border font-semibold text-sm">
            Poster large
            </p>
            <app-uploader></app-uploader>
            <div class="mt-2 w-32 h-32 p-2 bg-main border border-border rounded">
                <img
                    src="assets/Stranger-things-bg.png"
                    alt=""
                    class="w-full h-full object-cover rounded"
                />
            </div>
        </div>

        <div class="flex flex-col gap-2">
            <p class="text-border font-semibold text-sm">
            Poster small
            </p>
            <app-uploader></app-uploader>
            <div class="mt-2 w-32 h-32 p-2 bg-main border border-border rounded">
                <img
                    src="assets/witcher-bg.jpg"
                    alt=""
                    class="w-full h-full object-cover rounded"
                />
            </div>
        </div>
    </div>
    <div class="w-full gap-6 text-white">
        <label for="description" class="block mb-2 text-sm font-medium">Serie description</label>
        <textarea id="description" rows="4" class="block p-2.5 w-full text-sm rounded-lg border border-gray-500 outline-none focus:ring-blue-500 focus:border-blue-500" placeholder="Write serie description here..." appGlass></textarea>
    </div>

    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
            <label for="category" class="block mb-2 text-sm font-medium">Serie category</label>
            <select
            id="category"
            matNativeControl
            appGlass
            class="text-white w-full outline-none rounded-lg p-5 m-1"
            >
                <option *ngFor="let category of categories" [value]="category.id" class="bg-gray-800">{{ category.name }}</option>
            </select>
        </div>

        <div>
            <label for="trailer" class="block mb-2 text-sm font-medium">Add trailer</label>
            <input
                class="mt-1 p-4 w-full rounded-md border border-gray-500 outline-none focus:ring-blue-500 focus:border-blue-500"
                type="text"
                appGlass
                id="trailer"
                placeholder="Add link youtube trailer"
            />
        </div>
    </div>
    <div class="w-full grid lg:grid-cols-2 gap-6 items-start">
        <button
            class="w-full py-4 bg-main border border-subMain border-dashed text-white rounded"
        >
            Add Actors
        </button>
        <div class="grid 2xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-4 grid-cols-2 gap-4">
            <ng-container *ngFor="let user of teamData; let i = index">
            <div
                class="p-2 italic text-xs text-text rounded flex-colo bg-main border border-gray-500"
                appGlass
            >
                <img
                [src]="user.image"
                [alt]="user.name"
                class="w-full h-24 object-cover rounded mb-2"
                />
                <p>{{ user.name }}</p>
                <div class="flex-rows mt-2 w-full gap-2">
                <button class="bg-[#fe5388] ml-3 text-white rounded flex-colo w-6 h-6">
                    <mat-icon class="material-icons">delete</mat-icon>
                </button>
                <button class="w-6 h-6 flex-colo bg-dry border border-border text-green-600 rounded">
                    <mat-icon class="text-sm text-green-500 border-2 border-green-500 rounded-md">edit</mat-icon>
                </button>
                </div>
            </div>
            </ng-container>
        </div>
    </div>
    <div class="py-6 flex justify-center">
        <button class="w-[70%] btn-msl flex-rows gap-6 font-medium text-white py-4 after:hidden before:rounded-full">
            <mat-icon>unarchive</mat-icon>
            Publish Serie
        </button>
    </div>
</div>
