<div class="text-white">
  <div class="mt-5 flex justify-between mb-10">
    <div appGlass class="p-4 rounded bg-main border border-gray-500 grid grid-cols-4 gap-2">
      <div [ngClass]="['col-span-1', 'rounded-full', 'h-12', 'w-12', 'flex-colo', 'bg-yellow-500']">
        <mat-icon class="m-auto">supervisor_account</mat-icon>
      </div>
      <div class="col-span-3">
        <h2>Total Actors</h2>
        <p class="mt-2 font-bold">{{ totalActors }}</p>
      </div>
    </div>
    <h2 class="text-xl font-bold">Search actor</h2>
  </div>
  <app-actors-table [actors]="actors"></app-actors-table>
</div>
