<nav class="fixed w-full z-20 top-0 left-0 bg-black bg-opacity-40 backdrop-filter backdrop-blur-lg p-4">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto">
    <a href="./" class="flex items-center">
      <img src="assets/Logos/logo_pc.png" class="h-14 mr-1 hidden md:block" alt="MSL Logo" />
      <img src="assets/Logos/logo_mobile.png" class="h-12 mr-1 md:hidden" alt="MSL Logo" />
    </a>
    <div class="flex md:order-2">
      <p class="text-white pr-4" *ngIf="user.nickname">Bonjour {{user.nickname}}</p>
      <div *ngIf="user.nickname">
        <app-button-acc></app-button-acc>
      </div>
      <div *ngIf="!user.nickname" class="flex gap-4">
        <a routerLink="/login" class="text-white">S'identifier</a>
        <span class="separator"></span>
        <a routerLink="/login" class="text-white">S'inscrire</a>
      </div>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 md:p-2 mt-4 text-white font-medium md:flex-row md:space-x-8 md:mt-0 md:border-0">
        <li>
          <a href="/" class="button-container" aria-current="page">Accueil</a>
        </li>
        <li>
          <a routerLink="/search" class="button-container">Explorer</a>
        </li>
        <li>
          <a (click)="redirectToLibrary()" class="button-container">Bibliothèque</a>
        </li>
        <li>
          <a routerLink="/trending" class="button-container">Tendances</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
