.button-container {
    margin-top: 5px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid transparent;
    border-bottom-color: transparent;
    transition: border-bottom-color 0.3s;
}

.button-container:hover {
    cursor: pointer;
    border-bottom-color: white;
    transition: border-bottom-color 0.3s;
}