<div class="flex">
  <!-- First table: Left side -->
  <div class="w-1/2 pr-2">
    <div class="overflow-x-scroll overflow-hidden relative w-full">
      <table class="w-full table-auto border border-border divide-y divide-border">
        <thead>
          <tr appGlass>
            <th scope="col" class="text-sm text-left text-main font-semibold px-6 py-3 uppercase">Avatar</th>
            <th scope="col" class="text-sm text-left text-main font-semibold px-6 py-3 uppercase">Full name</th>
            <th scope="col" class="text-sm text-left text-main font-semibold px-6 py-3 uppercase">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-main divide-y divide-gray-600">
          <tr *ngFor="let actor of actors.slice(0, half); let i = index">
            <td class="text-sm text-left leading-6 whitespace-nowrap px-5 py-3">
              <div class="w-16 p-1 bg-dry border border-border h-16 rounded-full">
                <img class="h-full w-full rounded-full object-cover" [src]="actor.pictureUrl" [alt]="actor.firstName" />
              </div>
            </td>
            <td class="text-sm text-left leading-6 whitespace-nowrap px-5 py-3 truncate">{{ actor.firstName }} {{ actor.lastName }}</td>
            <td class="flex items-center py-6">
                <ng-container>
                    <button
                    class="text-sm border border-border bg-dry flex-rows gap-2 text-border rounded py-2 px-2"
                    (click)="openUpdateModal(actor)"
                    >
                    Edit
                    <mat-icon class="text-sm text-green-500 border-2 border-green-500 rounded-md">edit</mat-icon>
                    </button>
                    <button (click)="deleteCategory(actor)" class="bg-[#fe5388] ml-3 text-white rounded flex-colo w-8 h-8">
                    <mat-icon class="text-white">delete</mat-icon>
                    </button>
                </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Second table: Right side -->
  <div class="w-1/2 pl-2">
    <div class="overflow-x-scroll overflow-hidden relative w-full">
      <table class="w-full table-auto border border-border divide-y divide-border">
        <thead>
          <tr appGlass>
            <th scope="col" class="text-sm text-left text-main font-semibold px-6 py-3 uppercase">Avatar</th>
            <th scope="col" class="text-sm text-left text-main font-semibold px-6 py-3 uppercase">Full name</th>
            <th scope="col" class="text-sm text-left text-main font-semibold px-6 py-3 uppercase">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-main divide-y divide-gray-600">
          <tr *ngFor="let actor of actors.slice(half); let i = index">
            <td class="text-sm text-left leading-6 whitespace-nowrap px-5 py-3">
              <div class="w-16 p-1 bg-dry border border-border h-16 rounded-full">
                <img class="h-full w-full rounded-full object-cover" [src]="actor.pictureUrl" [alt]="actor.firstName" />
              </div>
            </td>
            <td class="text-sm text-left leading-6 whitespace-nowrap px-5 py-3 truncate">{{ actor.firstName }} {{ actor.lastName }}</td>
            <td class="flex items-center py-6">
                <ng-container>
                    <button
                    class="text-sm border border-border bg-dry flex-rows gap-2 text-border rounded py-2 px-2"
                    (click)="openUpdateModal(actor)"
                    >
                    Edit
                    <mat-icon class="text-sm text-green-500 border-2 border-green-500 rounded-md">edit</mat-icon>
                    </button>
                    <button (click)="deleteCategory(actor)" class="bg-[#fe5388] ml-3 text-white rounded flex-colo w-8 h-8">
                    <mat-icon class="text-white">delete</mat-icon>
                    </button>
                </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>