<div class="mb-5 py-10 md:px-20 px-8 bg-dry">
  <div class="lg:grid lg:grid-cols-2 lg:gap-10 items-center">
    <div class="flex lg:gap-10 gap-6 flex-col">
      <h1 class="text-white xl:text-3xl text-xl capitalize font-sans font-medium xl:leading-relaxed">
        Find Your Favorite Series.
        <br />
        Enjoy on Your Mobile
      </h1>
      <p class="text-gray-400 text-sm xl:text-base leading-6 xl:leading-8">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries..
      </p>
      <div class="flex gap-4 md:text-lg text-sm">
        <img src="assets/icons/GooglePlay.png" alt="google-play" class="downloads" />
        <img src="assets/icons/AppStore.png" alt="app-store" class="downloads" />
      </div>
    </div>
    <div class="images h-[30rem] md:h-[20rem] relative">
      <img src="assets/iphone14.png" alt="home-mob" class="absolute md:left-[1rem]" />
      <img
        src="assets/tabbar-mob.png"
        alt="tabbar"
        class="absolute w-[16rem] md:w-[28rem] left-[5rem] top-[19rem] md:top-[35rem] md:left-[12rem] hover:scale-[140%] transitions animate-pulse"
      />
      <img
        src="assets/card-01.png"
        alt="card01"
        class="absolute left-[-2rem] top-[11rem] w-[12rem] md:top-[30rem] md:w-[10rem] md:left-[10rem] animate-[bounce_3s_infinite_ease_alternate]"
      />
      <img
        src="assets/card-02.png"
        alt="card01"
        class="absolute left-[2rem] top-[11rem] w-[12rem] md:top-[32rem] md:w-[9rem] md:left-[14rem] hover:scale-[60%] transitions"
      />
    </div>
  </div>
</div>
