<div class="mb-5 py-10 md:px-20 px-8 bg-dry">
  <div class="lg:grid lg:grid-cols-2 lg:gap-10 items-center">
    <div class="flex lg:gap-10 gap-6 flex-col">
      <h1 class="text-white xl:text-3xl text-xl font-sans font-medium xl:leading-relaxed">
        Trouvez vos séries préférées
        <br />
        Retrouvez nous sur votre mobile
      </h1>
      <p class="text-gray-400 text-sm xl:text-base leading-6 xl:leading-8">
        Jours de paix ou nuits de guerre, Point de clémence, justice sévère, Car à la loi, nul n’échappera, C’est la
        promesse du Corps Alpha !
      </p>
      <div class="flex gap-4 md:text-lg text-sm">
        <img src="assets/icons/GooglePlay.png" alt="google-play" class="downloads" />
        <img src="assets/icons/AppStore.png" alt="app-store" class="downloads" />
      </div>
    </div>
    <div class="images h-[30rem] md:h-[20rem] relative">
      <img src="assets/iphone14.png" alt="home-mob" class="absolute md:left-[1rem]" />
      <img
        src="assets/tabbar-mob.png"
        alt="tabbar"
        class="absolute w-[16rem] md:w-[28rem] min-[1650px]:w-[34rem] left-[5rem] top-[19rem] xl:top-[28rem] 2xl:top-[35rem] md:top-[35rem] min-[1650px]:top-[46rem] md:left-[12rem] min-[1650px]:left-[19rem] hover:scale-[140%] transitions animate-pulse"
      />
      <img
        src="assets/card-01.png"
        alt="card01"
        class="absolute left-[-2rem] top-[11rem] w-[12rem] md:top-[26rem] xl:top-[28rem] min-[1650px]:top-[40rem] md:w-[10rem] md:left-[10rem] min-[1650px]:left-[16rem] animate-[bounce_3s_infinite_ease_alternate]"
      />
      <img
        src="assets/card-02.png"
        alt="card01"
        class="absolute left-[2rem] top-[11rem] w-[12rem] 2xl:top-[32rem] xl:top-[24rem] min-[1650px]:top-[40rem] md:w-[9rem] md:left-[14rem] min-[1650px]:left-[26rem] hover:scale-[60%] transitions"
      />
    </div>
  </div>
</div>
