.cards {
    height: 16rem;
    width: calc((9.375rem * 16rem) / 12.5rem);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    margin: 1rem;
    cursor: pointer;
    transition: 0.15s ease-in;
}

.cards:hover {
    transform: rotate(5deg);
    transition: 0.15s ease-in;
    scale: 1.1;
}

.notClicked {
    height: 16rem;
    width: calc((9.375rem * 16rem) / 12.5rem);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    margin: 1rem;
    cursor: pointer;
    transition: 0.15s ease-in;
  }

.cards_in {
    background-color: rgba(0, 0, 0, 0.555);
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.cards_in_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards_in_title {
    text-align: center;
    font-weight: bolder;
    width: 90%;
}

.cards_in_desc {
    font-size: 0.8rem;
    width: 90%;
    max-height: 46%;
    text-align: center;
    margin-top: 0.25rem;
    overflow: scroll;
    overflow-x: hidden;
}

.cards_in_button {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 30%;
    width: 90%;
}

::-webkit-scrollbar {
  width: 0.2rem;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 600px) {
    .cards {
        height: calc(16rem / 1.5);
        width: calc(((9.375rem * 16rem) / 12.5rem) / 1.5);
        margin: 0.5rem;
    }
    .cards_in_desc {
        max-height: 34%;
    }
    .cards_in_button {
        height: 35%;
    }
}