.cards {
    height: 13.3rem;
    width: 10rem;
    background-size: contain;
    border-radius: 15px;
}

.cards_in {
    background-color: rgba(0, 0, 0, 0.555);
    height: 100%;
    width: 100%;
    border-radius: 15px;
}