<div
  (click)="toggleCard()"
  [ngStyle]="{ 'background-image': 'url(' + card?.serie?.pictureUrlXS + ')' }"
  [ngClass]="isClicked ? 'notClicked' : 'cards'"
>
  <div class="cards_in" [hidden]="!isClicked">
    <div class="cards_in_container">
      <div class="cards_in_title">
        <span>{{ card?.serie?.name }}</span>
      </div>
      <div class="cards_in_desc">
        <span>{{ card?.serie?.description }}</span>
      </div>
      <div class="cards_in_button">
        <button
          class="mt-4 bg-gray-900 btn-msl after:hidden text-white px-2 md:px-2 md:py-1 before:rounded-full"
          (click)="redirectToDetail(card!.serie)"
        >
          Voir plus
        </button>
      </div>
    </div>
  </div>
</div>
