<div *ngIf="serie">
  <div class="image-container">
    <img src="{{ serie.pictureUrlXL }}" alt="{{ serie.name }}" />
    <div class="image-gradient"></div>
  </div>
  <div class="flex justify-center mt-8 gap-8">
    <p
      class="text-white cursor-pointer"
      [ngClass]="{ 'underline underline-offset-8': !informationsSelected }"
      (click)="showEpisodes()"
    >
      Episodes
    </p>
    <p
      class="text-white cursor-pointer"
      [ngClass]="{ 'underline underline-offset-8': informationsSelected }"
      (click)="showInformations()"
    >
      Informations
    </p>
  </div>
  <div class="button_div">
    <button *ngIf="!isInLibrary && user.nickname" (click)="addSeries()">Ajouter à ma bibliothèque</button>
  </div>
  <div *ngIf="informationsSelected">
    <app-detail-informations [serie]="serie"></app-detail-informations>
  </div>
  <div *ngIf="!informationsSelected">
    <app-detail-episodes [id]="id" [isInLibrary]="isInLibrary"></app-detail-episodes>
  </div>
</div>
