<div class="overflow-x-scroll overflow-hidden relative w-full">
  <table class="w-full table-auto border border-border divide-y divide-border">
    <thead>
      <tr appGlass>
        <th scope="col" class="text-sm text-left text-main font-semibold px-5 py-3 uppercase">Poster</th>
        <th scope="col" class="text-sm text-left text-main font-semibold px-5 py-3 uppercase">Nom</th>
        <th scope="col" class="text-sm text-left text-main font-semibold px-5 py-3 uppercase">Catégorie</th>
        <th scope="col" class="text-sm text-left text-main font-semibold px-5 py-3 uppercase">Saisons</th>
        <th scope="col" class="text-sm text-left text-main font-semibold px-5 py-3 uppercase">Année</th>
        <th scope="col" class="text-sm text-left text-main font-semibold px-5 py-3 uppercase">Statut</th>
        <th scope="col" class="text-sm text-left text-main font-semibold px-5 py-3 uppercase">Actions</th>
      </tr>
    </thead>
    <tbody class="bg-main divide-y divide-gray-600">
      <tr *ngFor="let serie of series; let i = index">
        <td class="text-sm text-left leading-6 whitespace-nowrap px-3 py-3">
          <div class="w-12 p-1 bg-dry border border-border h-12 rounded overflow-hidden">
            <img class="h-full w-full object-cover" [src]="serie.pictureUrlXS" [alt]="serie?.name" />
          </div>
        </td>
        <td class="text-sm text-left leading-6 whitespace-nowrap px-3 py-3 truncate">{{ serie.name }}</td>
        <td class="text-sm text-left leading-6 whitespace-nowrap px-3 py-3 truncate overflow-hidden">
          <div class="flex w-[5rem] truncate overflow-hidden">
            <div *ngFor="let category of serie.categories; let index = index" class="flex">
              <p class="text-sm font-medium mt-4 mb-6 inline" *ngIf="index !== 0">&nbsp;-&nbsp;</p>
              <p class="text-sm font-medium mt-4 mb-6 inline">{{ category.name }}</p>
            </div>
          </div>
        </td>
        <td class="relative flex justify-center leading-6 whitespace-nowrap px-3 py-3">
          <mat-icon class="text-blue-500">subscriptions</mat-icon>
          <span class="absolute top-1 left-[55%]">{{ serie.season }}</span>
        </td>
        <td class="text-sm text-left leading-6 whitespace-nowrap px-3 py-3">{{ serie.releaseDate }}</td>
        <td class="text-sm text-left leading-6 whitespace-nowrap px-3 py-3">
          {{ serie.isCompleted ? 'Terminée' : 'En cours' }}
        </td>
        <td class="flex items-center justify-around py-6">
          <ng-container>
            <button
              class="text-sm border border-border bg-dry flex-rows gap-2 text-border rounded py-2 px-2"
              (click)="editSerie(serie)"
            >
              Editer
              <mat-icon class="text-sm text-green-500 border-2 border-green-500 rounded-md">edit</mat-icon>
            </button>
            <button class="bg-[#fe5388] text-white rounded flex-colo w-8 h-8" (click)="deleteSerie(serie)">
              <mat-icon class="text-white">delete</mat-icon>
            </button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
