<h2 class="text-white text-2xl mt-4">Commentaires ({{ length }})</h2>
<div class="pagination">
  <div *ngFor="let comment of comments">
    <div class="p-8 border-white border-solid border-2 m-8" appGlass>
      <div class="flex justify-between mb-2">
        <p class="text-slate-200 text-xl">{{ comment.userNickname }}</p>
        <p class="text-white">{{ comment.serieName }}</p>
      </div>
      <p class="text-white italic">{{ comment.comment }}</p>
      <button class="bg-[#fe5388] ml-3 text-white rounded flex-colo w-8 h-8 absolute bottom-2 right-2">
        <mat-icon class="text-white" (click)="deleteComment(comment.id)">delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="text-white">
    <mat-paginator
      #paginator
      appGlass
      class="demo-paginator"
      (page)="handlePageEvent($event)"
      [length]="length"
      [pageSize]="pageSize"
      [disabled]="disabled"
      [showFirstLastButtons]="showFirstLastButtons"
      [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
      [hidePageSize]="hidePageSize"
      [pageIndex]="pageIndex"
      aria-label="Select page"
    ></mat-paginator>
  </div>
</div>
