<div class="mt-14 p-10 md:mt-28 flex flex-col md:flex-row">
  <div class="left text-white md:w-1/2">
    <h1 class="text-2xl md:text-6xl font-bold">Rechercher une série</h1>
    <p class="hidden text-base font-medium mt-4 mb-6 md:block">
      Quand on aime la TV, pourquoi s'en priver ? Des sitcoms aux séries dramatiques en passant par les émissions de
      téléréalité, retrouvez le meilleur des séries à regarder.
    </p>
  </div>
  <div class="flex w-full flex-col items-center">
    <app-filter-search-bar (getSeries)="getSeries($event)"></app-filter-search-bar>
  </div>
</div>
<app-cards [series]="series"></app-cards>
