main {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(25, 25, 27) 100%);
    color: white;
    height: 100vh;
    margin-top: 5rem;
}

.container_cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

