<div class="mt-32 flex justify-center flex-col">
  <h2 class="text-white text-center text-3xl">Réinitialisation du mot de passe</h2>
  <form class="flex items-center mx-auto mt-8 gap-8 flex-col" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="mt-4">
      <label for="password" class="text-white">Nouveau mot de passe</label>
      <input
        type="password"
        appGlass
        formControlName="password"
        placeholder="Mot de passe"
        class="rounded-2xl peer block w-[20rem] border-1 px-3 py-2 leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0 [ border-[1px] border-solid border-white border-opacity-30 ] [ shadow-black/70 shadow-2xl ] text-white"
      />
    </div>
    <div class="mt-4">
      <label for="confirmPassword" class="text-white">Confirmation du nouveau mot de passe</label>
      <input
        type="password"
        appGlass
        formControlName="confirmPassword"
        placeholder="Confirmez le mot de passe"
        class="rounded-2xl peer block w-[20rem] border-1 px-3 py-2 leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0 [ border-[1px] border-solid border-white border-opacity-30 ] [ shadow-black/70 shadow-2xl ] text-white"
      />
    </div>
    <button type="submit" class="mt-4 px-4 py-2 rounded-2xl bg-white text-black">Réinitialiser</button>
  </form>
</div>
