<div class="left skew-y-6 skew-x-12 rotate-[12deg]">
  <splide [options]="option1">
    <splide-slide *ngFor="let image of images">
      <img [src]="image" alt="serie.name" class="mb-1 w-full h-[8rem] md:h-[10rem] object-cover rounded-xl" />
      <span class="hovered bg-black bg-opacity-70 h absolute top-0 left-0 right-0 bottom-0"></span>
    </splide-slide>
  </splide>
  <splide [options]="option2">
    <splide-slide *ngFor="let image of images">
      <img [src]="image" alt="serie.name" class="mb-1 w-full h-[8rem] md:h-[10rem] object-cover rounded-xl" />
      <span class="hovered bg-black bg-opacity-70 h absolute top-0 left-0 right-0 bottom-0"></span>
    </splide-slide>
  </splide>
  <splide [options]="option3">
    <splide-slide *ngFor="let image of images">
      <img [src]="image" alt="serie.name" class="mb-1 w-full h-[8rem] md:h-[10rem] object-cover rounded-xl" />
      <span class="hovered bg-black bg-opacity-70 h absolute top-0 left-0 right-0 bottom-0"></span>
    </splide-slide>
  </splide>
  <splide [options]="option2">
    <splide-slide *ngFor="let image of images">
      <img [src]="image" alt="serie.name" class="mb-1 w-full h-[8rem] md:h-[10rem] object-cover rounded-xl" />
      <span class="hovered bg-black bg-opacity-70 h absolute top-0 left-0 right-0 bottom-0"></span>
    </splide-slide>
  </splide>
  <splide [options]="option1">
    <splide-slide *ngFor="let image of images">
      <img [src]="image" alt="serie.name" class="mb-1 w-full h-[8rem] md:h-[10rem] object-cover rounded-xl" />
      <span class="hovered bg-black bg-opacity-70 h absolute top-0 left-0 right-0 bottom-0"></span>
    </splide-slide>
  </splide>
  <splide [options]="option3">
    <splide-slide *ngFor="let image of images">
      <img [src]="image" alt="serie.name" class="w-full h-[8rem] md:h-[10rem] object-cover rounded-xl" />
      <span class="hovered bg-black bg-opacity-70 h absolute top-0 left-0 right-0 bottom-0"></span>
    </splide-slide>
  </splide>
</div>
