<div class="grid md:grid-cols-3 h-[100vh]">
  <app-bg-login class="absolute md:relative md:col-span-2 overflow-hidden"></app-bg-login>
  <div class="text-white relative z-1 mt-[10rem] text-center flex items-center flex-col">
    <input class="signIn" type="checkbox" id="signIn" name="signIn" [formControl]="signIn" />
    <label for="signIn" class="block-diff">
      <span class="inline-block">S'identifier</span>
      <span class="float-right">S'inscrire</span>
    </label>
    <div class="card-3d-wrap mx-auto bg-transparent">
      <div class="card-3d-wrapper">
        <div class="card-front">
          <div class="signIn-wrap">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="signIn-wrap p-4">
              <h1 class="relative text-white text-2xl font-semibold flex justify-center mb-10">S'identifier</h1>
              <div class="relative flex items-center flex-col">
                <input
                  matInput
                  type="text"
                  formControlName="email"
                  id="input1"
                  placeholder="Email address"
                  appGlass
                  class="rounded-2xl peer block w-[20rem] border-1 px-3 py-2 leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0 [ border-[1px] border-solid border-white border-opacity-30 ] [ shadow-black/70 shadow-2xl ] text-white"
                />
                <label
                  for="input1"
                  class="pointer-events-none absolute left-4 md:left-[2rem] top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-white transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-valid:-translate-y-[1.15rem] peer-valid:scale-[0.8] motion-reduce:transition-none"
                >
                  Email
                </label>
                <mat-error
                  *ngIf="
                    loginForm.get('email')?.invalid &&
                    (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
                  "
                >
                  <div *ngIf="loginForm.get('email')?.hasError('required')">Email requis</div>
                </mat-error>
              </div>
              <div class="mt-5 relative flex items-center flex-col mb-10">
                <input
                  matInput
                  type="password"
                  formControlName="password"
                  id="input2"
                  placeholder="Password"
                  appGlass
                  class="rounded-2xl peer block w-[20rem] border-1 px-3 py-2 leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0 [ border-[1px] border-solid border-white border-opacity-30 ] [ shadow-black/70 shadow-2xl ] text-white"
                />
                <label
                  for="input2"
                  class="pointer-events-none absolute left-4 md:left-[2rem] top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-white transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-valid:-translate-y-[1.15rem] peer-valid:scale-[0.8] motion-reduce:transition-none"
                >
                  Mot de passe
                </label>
                <mat-error
                  *ngIf="
                    loginForm.get('password')?.invalid &&
                    (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
                  "
                >
                  <div *ngIf="loginForm.get('password')?.hasError('required')">Mot de passe requis</div>
                </mat-error>
              </div>
              <button
                type="submit"
                [disabled]="!isFormValid()"
                disabled
                class="btn-msl w-[10rem] py-1 before:rounded-full after:hidden text-white ease-linear disabled:opacity-50 disabled:cursor-not-allowed"
              >
                Connexion
              </button>
            </form>
          </div>
        </div>
        <div class="card-back">
          <div class="signIn-wrap">
            <div class="signIn-wrap p-4">
              <app-signup></app-signup>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a routerLink="/forgotten-password" class="text-white">Mot de passe oublié ?</a>
  </div>
</div>
