<section class="page-container">

    <h1>Connexion</h1>

    <div class="container-connection">
        <div class="connection">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <fieldset>
                    <label><span>*</span>Email : </label>
                    <input type="text" formControlName="email">
                </fieldset>
                <fieldset>
                    <label><span>*</span>Mot de passe : </label>
                    <input type="password" formControlName="password">
                </fieldset>
                
                <button type="submit" [disabled]="!loginForm.valid">Connexion</button>
            </form>
            <p><span>*</span> Champs obligatoires</p>
        </div>
    </div>
</section>


