<div class="mt-14 p-10 flex flex-col md:flex-row">
  <div class="left text-white md:w-1/2">
    <h1 class="text-2xl md:text-6xl font-bold">Séries à recherche</h1>
    <p class="hidden text-base font-medium mt-4 mb-6 md:block">Quand on aime la TV, pourquoi s'en priver ? Des sitcoms aux séries dramatiques en passant par les émissions de téléréalité, retrouvez le meilleur des séries à regarder.</p>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="flex justify-center">
      <div class="relative">
        <input
          [formControl]="formSearch"
          class="bg-zinc-800 text-white rounded-xl p-3 m-1 pl-8"
          matInput
          placeholder="Rechercher une série"
        />
        <img src="assets/icons/loupe.png" class="absolute w-4 img top-1/2 -translate-y-1/2 left-3" />
      </div>
      <select
        matNativeControl
        [formControl]="formFilter"
        (change)="onSubmit()"
        class="bg-zinc-800 text-white rounded-xl p-3 m-1"
      >
        <option value="title">Titre</option>
        <option value="actor">Acteur</option>
        <option value="producer">Producteur</option>
      </select>
    </div>
    <div class="flex justify-center">
      <select matNativeControl class="bg-zinc-800 text-white rounded-xl p-3 m-1" [formControl]="formCategories">
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>
  </form>
</div>
