<div class="episode_select">
  <div>
    <select
      name="season"
      id="season"
      *ngIf="seasons && seasons.length > 0"
      [(ngModel)]="selectedSeason"
      (change)="selectedSeason !== null ? seasonSelect(selectedSeason) : null"
    >
      <option *ngFor="let season of seasons" [value]="season" class="p-3">Saison {{ season }}</option>
    </select>
  </div>
</div>
<div class="episode_cards_container">
  <div *ngFor="let episode of getFilteredEpisodes(); let i = index" class="card_episode">
    <div class="episode_title">
      <span>{{ episode.episodeNumber }}. {{ episode.title }}</span>
    </div>
    <div class="episode_infos">
      <div class="episode_second_info">
        <div class="episode_thumbnail" [ngStyle]="{ 'background-image': 'url(' + episode.thumbnail + ')' }"></div>
        <div class="episode_description">
          <div class="episode_description_first">
            <p>{{ episode.description }}</p>
          </div>
        </div>
      </div>
      <div class="episode_date_check">
        <input [(ngModel)]="episode.showCheckbox" type="checkbox" (change)="onCheckboxChange(episode)" />
      </div>
    </div>
  </div>
</div>
