h1 {
  font-size: 3.125rem;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgb(247, 247, 247);
  text-underline-offset: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  margin: 5rem auto;
}

mat-form-field {
  border-radius: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  width: 100%;
}

mat-error {
  font-size: 0.75rem;
  color: red;
  margin-top: 0.313rem;
}

button {
  background-color: #391853;
  color: #fff;
  padding: 0.625rem 0.938rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  &:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: rgb(170, 66, 196);
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
    i {
      transform: translateX(0.125rem);
    }
  }
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.login-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.625rem;
  color: #ffffff;
  p {
    font-style: italic;
  }
}

.login-link a {
  margin-top: 0.15rem;
  color: #ffffff;
  text-decoration: underline;
}
