<div class="overflow-x-scroll overflow-hidden relative w-full">
  <table class="w-full table-auto border border-border divide-y divide-border">
    <thead>
      <tr appGlass>
        <th scope="col" class="text-sm text-left text-main font-semibold px-6 py-3 uppercase">Avatar</th>
        <th scope="col" class="text-sm text-left text-main font-semibold px-6 py-3 uppercase">Name</th>
        <th scope="col" class="text-sm text-left text-main font-semibold px-6 py-3 uppercase">Role</th>
        <th scope="col" class="text-sm text-left text-main font-semibold px-6 py-3 uppercase">Email</th>
      </tr>
    </thead>
    <tbody class="bg-main divide-y divide-gray-600">
      <tr *ngFor="let user of users; let i = index">
        <td class="text-sm text-left leading-6 whitespace-nowrap px-5 py-3">
          <div class="w-16 p-1 bg-dry border border-border h-16 rounded-full">
            <img class="h-full w-full rounded-full object-cover" [src]="user.pictureUrl" [alt]="user?.nickname" />
          </div>
        </td>
        <td class="text-sm text-left leading-6 whitespace-nowrap px-5 py-3 truncate">{{ user.nickname }}</td>
        <td class="text-sm text-left leading-6 whitespace-nowrap px-5 py-3 truncate">{{ user.role }}</td>
        <td class="text-sm text-left leading-6 whitespace-nowrap px-5 py-3 truncate">{{ user.email }}</td>
        <td class="flex items-center py-3">
          <ng-container>
            <button class="bg-[#fe5388] ml-3 text-white rounded flex-colo w-8 h-8">
              <mat-icon class="text-white">delete</mat-icon>
            </button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
