<div class="text-white">
  <div class="mt-5 flex justify-between mb-10">
    <div appGlass class="p-4 rounded bg-main border border-gray-500 grid grid-cols-4 gap-2">
      <div [ngClass]="['col-span-1', 'rounded-full', 'h-12', 'w-12', 'flex-colo', 'bg-green-600']">
        <mat-icon class="m-auto">supervisor_account</mat-icon>
      </div>
      <div class="col-span-3">
        <h2>Total Users</h2>
        <p class="mt-2 font-bold">{{ totalUsers }}</p>
      </div>
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="relative rounded-xl w-[100%] mb-8 border border-gray-400">
        <input
          class="outline-none w-[20rem] md:w-[30rem] text-white rounded-xl p-5 pl-10"
          matInput
          appGlass
          [(ngModel)]="searchNickname"
          name="searchNickname"
          placeholder="Rechercher un user"
        />
        <mat-icon class="absolute m-0 top-5 left-2">search</mat-icon>
      </div>
    </form>
  </div>
  <app-users-table [users]="users" (updateUser)="onUserDeleted()"></app-users-table>
</div>
