<div class="min-h-screen container mx-auto px-2">
  <div class="xl:grid grid-cols-8 gap-10 items-start md:py-12 py-6">
    <div class="fixed w-[20rem] z-20 top-30 left-10 border border-gray-500 p-6 rounded-md xl:mb-0 mb-5" appGlass>
      <ng-container *ngFor="let link of SideLinks; let index = index">
        <a
          [routerLink]="['/dashboard', { outlets: { dashboardOutlet: [link.link] } }]"
          [ngClass]="{
            'btn-msl text-white before:rounded-lg after:hidden': isActive(link),
            'hover:text-white hover:bg-main': !isActive(link),
            'rounded-sm font-medium text-sm text-gray-500 transitions flex gap-3 items-center p-4': true
          }"
        >
          <mat-icon>{{ link.icon }}</mat-icon>
          <p>{{ link.name }}</p>
        </a>
      </ng-container>
    </div>
    <div class="col-span-2"></div>
    <div appGlass class="col-span-6 rounded-md bg-dry border border-gray-500 p-6">
      <ng-content></ng-content>
    </div>
  </div>
</div>
