<div class="relative" [class.open]="open" (click)="open = false">
  <button type="button" class="btn btn-ghost btn-circle avatar mr-3" (click)="open = !open; $event.stopPropagation()">
    <div class="btn-msl h-8 before:rounded-full after:h-[5rem]">
      <img [src]="user.pictureUrl" alt="avatar" class="rounded-full w-full h-full" />
    </div>
  </button>
  <ul *ngIf="open" class="absolute ml-[-2rem] mt-2 text-xs text-white shadow bg-base-100 rounded-box w-[10rem]">
    <li *ngIf="!user.nickname" class="py-1">
      <a [routerLink]="['/login']" class="bg-gradient-to-r hover:from-green-400">Se Connecter</a>
    </li>
    <li class="py-1"><a class="bg-gradient-to-r hover:from-green-400" [routerLink]="['/profile']">Profil</a></li>
    <li class="py-1"><a class="bg-gradient-to-r hover:from-green-400" (click)="logOut()">Déconnexion</a></li>
  </ul>
</div>
