#dropdown-menu {
  position: absolute;
  z-index: 2000;
}

.dropdown-link {
  color: #f0eaea;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
}

.dropdown-link:hover {
  background-color: #471a55;
}